*{
    margin: 0;
    padding: 0;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 69%;
}

.hd{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
    color: #1c1c2b;
}

.container{
    background-color: #13132e;
    width: 100%;
    height: 82.5vh;
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: whitesmoke;
}

.cal{
    background-color: #292931;
    border-radius: 1rem;
    height: 42rem;
    width: 35rem;
    box-shadow: 0.5rem 1rem 3 rem rgba(0, 0, 0, 0.4);
}

.month{
    background-color: #366176;
    height: 8rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    display: flex;
    justify-content:space-between;
    align-items: center;

    padding: 0 2rem;
    text-align: center;

    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.month .prevMonth{
    cursor: pointer;
}

.month .nextMonth{
    cursor: pointer;
}

.prevMonth:hover{
    text-shadow: 0rem 0.3rem 0.5rem rgb(0, 0, 0);
}

.nextMonth:hover{
    text-shadow: 0rem 0.3rem 0.5rem rgb(0, 0, 0);
}

.date h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: .5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.date p{
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.weeks{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid red; */
}

.weeks div{
    width: calc(38rem/7);
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.dates{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}

.dates div{
    border: 1px solid rgb(46, 46, 46);
    width: calc(33rem/7);
    height: calc(34rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.dates .noBorder{
    border: none;
}
 
.dates .currDate{
    background-color: #366176;
    border-radius: 50%;
}

.dates div:hover{
    transition: 500ms;
    background-color: #525252;
}
